<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

<div class="wrapper ad">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- tipis.xyz -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6324440873075599"
       data-ad-slot="5510168999"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

    {% include footer.html %}

  </body>

</html>
